.jumbotron {
	background-color: blue;
	border-radius: 9px;
	color:white;
	margin-left:5px;
	margin-right: 5px;
	padding: 40px;
	text-align: center;
}

form {
	margin-left:5px;
	margin-right: 5px;

}
.boxBorder {
	border-radius: 9px;
	border-style: solid;
	margin-left:5px;
	margin-right: 5px;
}

.addTrainBox {
	margin-top: 15px;
	padding-bottom: 10px;
}
.navbar {
	background-color: blue;
	color: white;
	font-weight: bolder;
	padding-top: 10px;
	text-align: center;
}

.navbarHead {
	background-color: blue;
	color: white;
	margin-left:5px;
	margin-right: 5px;
	padding-top: 10px;
}

.table {
	margin-top: -20px;
}